files/03_Integromat/04_generate-save-send-offer-pdf
{
    "name": "04_generate-save-send-offer-pdf",
    "flow": [
        {
            "id": 8,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 406702,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -285,
                    "y": -7
                },
                "restore": {
                    "hook": {
                        "label": "send-offer"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": []
            }
        },
        {
            "id": 7,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1211347
            },
            "mapper": {
                "filter": [
                    [
                        {
                            "a": "R",
                            "b": "no",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "CustomerData",
                "sortOrder": "asc",
                "spreadsheetId": "19fknPdYYVH_HHAD_Gx6cM6s-yXVrFq44quEIsKQXqpM",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 16,
                    "y": -6
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "CustomerData"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "digiBP (digibp2020@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "DigiBP"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Zeitstempel (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Gender  (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Last Name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "First Name (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Street (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "City  (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Age (DD/MM/YYYY) (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Age (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "E-mail address (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Phone number (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Are you a smoker ?  (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "To your knowledge, do you suffer or have you suffered from any kind of cancer ? (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Are you following a medical treatment ?  (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Please indicate you height in cm (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Please indicate your weight in kg (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "BMI (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Status (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Offer sent (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Offer accepted (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Policy sent (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Policy price (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "eledo:Generate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1237671
            },
            "mapper": {
                "fields": {
                    "City": "{{7.`5`}}",
                    "Email": "{{7.`8`}}",
                    "Price": "{{7.`20`}}",
                    "Street": "{{7.`4`}}",
                    "LastName": "{{7.`2`}}",
                    "PhoneNum": "{{7.`9`}}",
                    "DateStamp": "{{formatDate(7.`0`; \"DD.MM.YYYY\")}}",
                    "FirstName": "{{7.`3`}}",
                    "DateOfBirth": "{{7.`6`}}"
                },
                "templateId": "5ed248d4bb82ab7530812ae8"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "templateId": {
                        "label": "Offer"
                    },
                    "__IMTCONN__": {
                        "label": "My Eledo connection (digibp2020@gmail.com)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "templateId",
                        "type": "select",
                        "label": "Template"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "FirstName",
                                "type": "text"
                            },
                            {
                                "name": "LastName",
                                "type": "text"
                            },
                            {
                                "name": "DateOfBirth",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "PhoneNum",
                                "type": "text"
                            },
                            {
                                "name": "City",
                                "type": "text"
                            },
                            {
                                "name": "Street",
                                "type": "text"
                            },
                            {
                                "name": "DateStamp",
                                "type": "text"
                            },
                            {
                                "name": "Price",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom Fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-drive:ActionUploadFile",
                            "version": 3,
                            "parameters": {
                                "account": 1211347
                            },
                            "mapper": {
                                "data": "{{2.data}}",
                                "title": "",
                                "convert": false,
                                "fileName": "{{7.`3`}}{{7.`2`}}{{7.`0`}}{{2.fileName}}",
                                "folderId": "/1q_kkg0Yf6nVw_naFUfGU3iN8_Wqp2Hzr",
                                "destination": "personal"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -300
                                },
                                "restore": {
                                    "account": {
                                        "label": "digiBP (digibp2020@gmail.com)"
                                    },
                                    "convert": {
                                        "mode": "chose"
                                    },
                                    "folderId": {
                                        "mode": "chose",
                                        "path": [
                                            "Offer_out"
                                        ]
                                    },
                                    "destination": {
                                        "label": "My Drive"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mean": "name",
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "mean": "data",
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a file",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Destination",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "personal",
                                                "shared"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "Target folder",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-email:ActionSendEmail",
                            "version": 1,
                            "parameters": {
                                "account": 1211347
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{7.`8`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<p>Dear Customer,</p>\n<p>We would like to thank you for putting your trust in the hands of NewInsurance. Please find attached our offer. In case you have any questions, please turn to our customer advisors who will gladly assist you with your queries.</p>\n<p>Best wishes,</p>\n<p>Your NewInsurance Team        </p>\n<p> </p>\n<p><strong> </strong></p>",
                                "subject": "Your offer from NewInsurance",
                                "attachments": [
                                    {
                                        "cid": "",
                                        "data": "{{2.data}}",
                                        "fileName": "{{7.`3`}}{{7.`2`}}{{7.`0`}} {{2.fileName}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "cc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "account": {
                                        "label": "digiBP (digibp2020@gmail.com)"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": " ",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "labels": {
                                            "add": "Add a recipient",
                                            "edit": "Edit a recipient"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "labels": {
                                            "add": "Add an attachment",
                                            "edit": "Edit an attachment"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "labels": {
                                            "add": "Add a copy recipient",
                                            "edit": "Edit a copy recipient"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "labels": {
                                            "add": "Add a blind copy recipient",
                                            "edit": "Edit a blind copy recipient"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1211347
                            },
                            "mapper": {
                                "mode": "select",
                                "values": {
                                    "0": "{{7.`0`}}",
                                    "1": "{{7.`1`}}",
                                    "2": "{{7.`2`}}",
                                    "3": "{{7.`3`}}",
                                    "4": "{{7.`4`}}",
                                    "5": "{{7.`5`}}",
                                    "6": "{{7.`6`}}",
                                    "7": "{{7.`7`}}",
                                    "8": "{{7.`8`}}",
                                    "9": "{{7.`9`}}",
                                    "10": "{{7.`10`}}",
                                    "11": "{{7.`11`}}",
                                    "12": "{{7.`12`}}",
                                    "13": "{{7.`13`}}",
                                    "14": "{{7.`14`}}",
                                    "15": "{{7.`15`}}",
                                    "16": "{{7.`16`}}",
                                    "17": "yes",
                                    "18": "no",
                                    "19": "no",
                                    "20": "{{7.`20`}}"
                                },
                                "sheetId": "CustomerData",
                                "rowNumber": "{{7.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "19fknPdYYVH_HHAD_Gx6cM6s-yXVrFq44quEIsKQXqpM",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "mode": {
                                        "label": "Select spreadsheet and sheet"
                                    },
                                    "sheetId": {
                                        "label": "CustomerData"
                                    },
                                    "__IMTCONN__": {
                                        "label": "digiBP (digibp2020@gmail.com)"
                                    },
                                    "spreadsheetId": {
                                        "label": "DigiBP"
                                    },
                                    "includesHeaders": {
                                        "label": "Yes"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Zeitstempel (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Gender  (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Last Name (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "First Name (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Street (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "City  (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Age (DD/MM/YYYY) (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Age (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "E-mail address (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Phone number (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Are you a smoker ?  (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "To your knowledge, do you suffer or have you suffered from any kind of cancer ? (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Are you following a medical treatment ?  (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Please indicate you height in cm (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Please indicate your weight in kg (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "BMI (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Status (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "Offer sent (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "Offer accepted (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "Policy sent (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "Policy price (U)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}